/* ReservationForm.css */

.body {
  font-family: 'Manrope';
  background-color: #141464;
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background-image: url('./assets/123.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  */
}

.container {
  max-width: 50rem;
  margin: 50px auto;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  /* background-image: url('./assets/1358510.png');
    background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */

}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 30px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.col {
  flex: 1;
  margin-right: 10px;

}

.col:last-child {
  margin-right: 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.4),
    0px 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.bu {
  width: 100%;
  background-color: #141464;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

.bu:hover {
  background-color: #0d3aff;
}