.logo {
    width: 2rem;
    height: 30px;
}

.Dortmund {
    display: flex;
    gap: 10px;
    align-items: center;

}

.RealMadrid {
    display: flex;
    gap: 10px;
    align-items: center;
}

.container3 {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.container {
    background-color: #141464;
    height: 29rem;
    width: 22rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Manrope';
}

.container2 {
    padding: 10px;
    height: 430px;
    width: 320px;
    background-color: white;
    border-radius: 2rem;



}

.text1 {
    font-size: 1.1rem;
    font-weight: 800;

}

.line {
    height: 1.5px;
    width: 300px;
    background-color: #f1f3f8;
    margin-top: 10px;



}

.text2 {
    font-size: 15px;
}

.image2 {
    width: 25px;
    height: 25px;
}

.result {
    display: flex;
    justify-content: space-between;
}

.team1 {
    margin-left: 10px;
    margin-top: 15px;
}

.team2 {
    margin-right: 10px;
    margin-top: 15px;
}

.number {
    font-size: 30px;
    position: relative;
    left: 7px;
    top: 15px;
}

.tex {
    font-size: 17px;
    margin-top: 1rem;
}

.score {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 80px;
}